@media (max-width: 1250px) {
    .container .right-pannel {
         width: 266px;
          right: 2px;
    }
    
    .container .right-pannel {
        width: 245px;
        right: 1px;
    }  
}
     
  @media (max-width: 1200px) {

.container .middle-pannel .story-section .stories .story {
        width: 102px; 
    }
    .container .middle-pannel .story-section .stories .story.create .name {
         left: 0px;
     }

}
   
  @media (max-width: 1150px) {
     
  }
  @media (max-width: 1120px) {
  
  .container .middle-pannel {
    
    padding-left: 50px;
}
  }
  @media (max-width: 1130px) {
   
    nav .nav-left>form>i.fas.fa-magnifying-glass {
        margin-left: -35px;
    }

    nav .nav-left>form>input{
     
        height: 40px;
        width: 40px;
        outline: none;
        border: none;
        padding: 20px;
        color: #e4e6eb;
        font-size: 15px;
        border-radius: 25px;
        margin-right: 8px;
    }
}
 
@media (max-width: 1100px) {
  
     
}
  
  @media (max-width: 1080px) {
    .container .left-pannel {
         display: none;
    } 

    .container .middle-pannel {
        width: 700px;
}
 
.container .middle-pannel .story-section .stories .story {
    width: 115px;
}

.container .right-pannel {
    width: 300px;
    right: 7px;
}

}
    
@media (max-width: 1050px) {
   
  }
 
   
@media (max-width: 1020px) {
  .container .middle-pannel {
    width: 637px;
}
} 
  
  
  @media (max-width:950px) {
      .container .middle-pannel .story-section .stories .story {
          width: 100px;
      }   
    .container .right-pannel {
        width: 282px;
        right: 0px;
    }
  }
  
   
   
  
  @media (max-width:920px) {
    .container .right-pannel{
display: none;
    }

    .container .middle-pannel {
      width: 754px;
  }

  }
  
   
  
  @media (max-width:900px) {
  
    
  }
  
   
  
  @media (max-width:880px) {
    .container .middle-pannel {
      width: 737px;
  }
}
  
  
  @media (max-width:850px) {
    nav {
      width: 100%;
  }
  
    .container {
      width: 100%;
  }
   
      .container .right-pannel {
         height: 93vh;
      }
  }
  
  @media (max-width:820px) {
    .container {
         height: 116vh;
    }
  }
  
@media (max-width:800px) {
    .container .middle-pannel {
        width: 817px;
    }

    .container .right-pannel {
        display: none;
    }
  
    .container .middle-pannel .mid-pannel-container {
         height: 714px;
    }
    .container .middle-pannel .story-section .stories .story {
        width: 114px;
    }

  }
   
  @media (max-width:780px) {
    
  
  }
  
  
  @media (max-width:755px) {
  

    .responsive-create{
      display: inline;
  }
.middle-pannel .mid-pannel-container  .create{
    display: none;
  }
  

header> .responsive-create .post-top {
     padding-left: 34px;
    width:94vw;
}

header> .responsive-create .border-line-3 {
   width: 100%;
}

header> .responsive-create .post-bottom {
  padding-left:100px;
  margin-right: 54px;
}

 

    .responsive-header{
      display: flex;
}

.responsive-pannel{
  display: flex;
}
nav .nav-middle a {
   margin: 0px 27px;
}

header> .responsive-header .nav-responsive-right{
  display: none;
}


nav .nav-right> .responsive-rit {
  display: none;
  
  }
  
  
nav .nav-right> .responsive-rit4 {
  display: grid;
  
  }
  

    .logo1{
    display: inline;
   }
   .logo2{
    display: none;
   }
   nav .nav-left>img {
    width: 115px;
}

nav .responsive-nav {
display: none;
}

nav .nav-right>form>i.fas.fa-magnifying-glass {
  margin-left: -35px;
}

nav .nav-right>form>input{
  height: 40px;
  width: 40px;
  outline: none;
  border: none;
  padding: 20px;
  color: #e4e6eb;
    background-color: #eee;
  font-size: 15px;
  border-radius: 25px;
  margin-right: 8px;
}
nav .nav-right>form{
display: inline;
margin: 0 16px;
}

nav .nav-left>form{
display: none;
}
 
  }
  
  @media (max-width:738px) {
    nav .nav-middle {
       width: 100%;
  }
  
  }
  
  @media (max-width:710px) {
  
    nav .nav-middle a {
      margin: 0px 25px;
  }
    
}

  @media (max-width:700px) {
 
.container {
  height: 70vh;
}

.container .middle-pannel .mid-pannel-container {
  width: 80vw;
}

.post-container-flex {
    height: 1100px;
}

.story-section {
  width: 97vw;
}

.stories {
  padding-left: 29px !important;
}

.container .middle-pannel .story-section .stories .story {
  display: inline;
  width: 162px;
  height: 247px;
}

.post {
  width: 96vw;
  margin: 57px;
} 

.container .middle-pannel .story-section .stories .story.create .name {
  left: 31px;
}

}
 
  
  @media (max-width:680px) {
     

    header> .responsive-create .post-bottom {
      padding-left: 147px;
    }

    header> .responsive-create .border-line-3 {
      width: 130vw;
  }

  .container .middle-pannel .mid-pannel-container {
    width: 133vw;
}

.story-section {
  width: 129vw;
}

}
  
  @media (max-width:650px){ 
    .container {
      height: 82vh;
  }

  header> .responsive-create .border-line-3 {
    width: 136vw;
}

.story-section {
  width: 138vw;
}

  }
  @media (max-width:620px) {
 
    header> .responsive-create .post-top {
    width: 131vw;
  }
 
    .container {
      height: 90vh;
  }
  
  header> .responsive-create .post-bottom {
    padding-left: 139px;
    margin-right: -145px;
}

header> .responsive-create .border-line-3 {
  width: 143vw;
}
.story-section {
  width: 151vw;
}

.stories {
  padding-left: 84px !important;
}

.post {
   margin-right: 12px;
}


}

@media (max-width:600px) {
.container {
  height: 94vh;
}
.story-section {
  width: 161vw;
}

header> .responsive-create .border-line-3 {
  width: 147vw;
}

.post {
  margin-right: -31px;
}


}


  @media (max-width:580px) {
    .container {
        height: 100vh;
    }
    .story-section {
      width: 169vw;
  }
 
  .stories {
    padding-left: 120px !important;
}
    header> .responsive-create .border-line-3 {
      width: 152vw;
  }
  header> .responsive-create .post-top {
    padding-left: 95px;
    width: 133vw;
}

}
  
   
  @media (max-width:550px) {
 
 header> .responsive-create .post-top {
    padding-left: 85px;
    width: 143vw;
}
 
    .container {
      height: 108vh;
  }  

  .story-section {
    width: 186vw;
}

.post {
  margin-right: -86px;
  width: 840px;
}

.stories {
  padding-left:160px !important;
}

  .post .post-content {
    font-size: 23px;
}


.post .post-top .post-info .name {
   font-size: 20px;
}

header> .responsive-create .border-line-3 {
  width: 160vw;
}
}
  
  
  @media (max-width:530px) { 

    header> .responsive-create .border-line-3 {
      width: 166vw;
  }

    .container {
      height: 114vh;
  }
  .story-heading {
    padding-left: 210px;
}
.story-heading::after {
   left: 159px;
}  
  .story-section {
    width: 197vw;
}

.stories {
  padding-left: 192px !important;
}
.post {
  margin-right: -100px;
  width: 881px;
}

}
  
   
  @media (max-width:500px) {
  
  header> .responsive-create .post-top {
    padding-left: 52px;
    width: 162vw;
}
header> .responsive-create .post-bottom {
  padding-left: 98px;
  margin-right: -256px;
}
header> .responsive-create .border-line-3 {
    width: 176vw;
}
  
.story-section {
    width: 217vw;
} 


.container {
      height: 125vh;
  }
  

.stories {
    padding-left: 226px !important;
}

.post {
    margin-right: -149px;
    width: 881px;
}

}
   
  
  @media (max-width:480px) {
 
    header> .responsive-create .border-line-3 {
    width: 184vw;
}
 
header> .responsive-create .post-bottom {
  padding-left: 133px;
  margin-right: -296px;
}

    .container {
      height: 132vh;
  }
.story-section {
    width: 230vw;
}

.stories {
    padding-left: 261px !important;
}

.post {
    margin-right: -177px;
}

}
   
  @media (max-width:450px) {
   header> .responsive-create .post-top {
    padding-left: 102px;
    width: 174vw;
}
 
header> .responsive-create .border-line-3 {
    width: 195vw;
}
   
    .container {
      height: 144vh;
  }

.story-section {
    width: 254vw;
}

.stories {
    padding-left: 286px !important;
}

.post {
    margin-right: -208px;
}

}
  
  @media (max-width:400px) {
 
    header> .responsive-create .post-top {
    padding-left: 102px;
    width: 189vw;
}



header> .responsive-create .border-line-3 {
  width: 220vw;
}

.container {
  height: 166vh;
}

.story-section {
  width: 305vw;
}

.stories {
  padding-left: 352px !important;
}

.story-heading {
  padding-left: 349px;
}

.story-heading::after {
  left: 297px;
}
.post {
    margin-right: -295px;
}

}

@media (max-width: 380px) {
    .container {
      height: 178vh;
}

header> .responsive-create .post-top {
    padding-left: 80px;
    width: 206vw;
}

header> .responsive-create .border-line-3 {
    width: 232vw;
}
.story-section {
    width: 327vw;
}

.stories {
    padding-left: 397px !important;
}
  }
  
  @media (max-width: 360px){
header> .responsive-create .border-line-3 {
    width: 245vw;
}

.story-section {
    width: 353vw;
}

.stories {
    padding-left: 415px !important;
}
.post {
    margin-right: -335px;
}


}

  @media (max-width: 350px){
   
  header> .responsive-create .border-line-3 {
    width: 252vw;
}

.container {
      height: 198vh;
  }
.story-section {
    width: 366vw;
}

.stories{
padding-left: 424px !important;
}

.post {
    margin-right: -351px;
}

}

@media (max-width: 325px) {
 
header> .responsive-create .border-line-3 {
    width: 270vw;
}


  .container {
    height: 217vh;
}

.story-section {
    width: 406vw;
}

.stories {
    padding-left: 463px !important;
}

.post {
    margin-right: -366px;
}


}
 
  @media (max-width: 320px) {
  
    .container {
      height: 222vh;
  }
  
  }
  