* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    overflow: hidden;
}

header {
    background-color: #fff;
}

.responsive-create {
    display: none;
}

.responsive-header {
    display: none;
}

nav {
    height: 58px;
    width: 100%;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 1px 3px #ccc;
    position: static;
}


.responsive-image {
    display: none;
}

nav .nav-left, nav .nav-right {
    display: flex;
    align-items: center;

}

nav .nav-left>img {
    width: 40px;
}

.Logo1 {
    display: none;
}

nav .nav-left>form {
    display: inline;
    margin: 0 16px;
}

nav .nav-left>form>input {
    height: 40px;
    width: 40px;
    outline: none;
    border: none;
    padding: 20px;
    color: #e4e6eb;
    background-color: #eee;
    font-size: 15px;
    border-radius: 25px;
    margin-right: -34px;
}
 

nav .nav-middle {
    display: flex;
    align-items: flex-end;
    position: relative;
    left: 20px;
}

nav .nav-middle .mid:hover, nav .nav-right .rit:hover {
    background: #cdcdcd;
    background-size: cover;
}

nav .nav-middle .mid:hover {
    border-radius: 10%;
    transition: .3s ease-in;
}

nav .nav-middle a {
    text-decoration: none;
    color: #333;
    padding: 10px 34px 15px 34px;
    margin: 0px 10px 4px;
}

nav .nav-middle a.active {
    color: royalblue;
    position: relative;
}


nav .nav-middle a.active::after {
    content: "";
    width: 9vw;
    height: 3px;
    position: absolute;
    bottom: -4px;
    left: -14px;
    background: royalblue;
}


nav .nav-middle a>i {
    font-size: 20px;
}


nav .nav-right .profile, .container .left-pannel .profile {
    background: url(../img/Monis_profile.png);
    height: 45px;
    width: 45px;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

nav .nav-right>form {
    display: none;
}

nav .nav-right a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    display: grid;
    place-items: center;
    margin: 0 5px;
}

nav .nav-right>.responsive-rit4 {
    display: none;

}

nav .nav-right a>i {
    font-size: 16px;
}


.container {
    display: flex;
    background: #F0F2F5;
    overflow: scroll;
    overflow-x: hidden;
    height: 92vh;
}

.responsive-pannel {
    display: none;
}

.container .left-pannel {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    background-color: #fff;
}

.left-pannel::-webkit-scrollbar {
    width: 7px;
}

.left-pannel::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
    border: 3px solid transparent;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.left-pannel::-webkit-scrollbar-track {
    background: transparent;
}


.container .left-pannel .top-left-pannel>form>input {
    height: 40px;
    padding: 5px 34px;
    width: 23vw;
    border: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    outline: none;
    background-color: #eee;
    margin-left: -6px;
}

.heading-section1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 25px;
    padding: 10px 9px 6px 10px;
}



.container .left-pannel i.fas.fa-gear {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    display: grid;
    place-items: center;
    margin: 0 5px;
    cursor: pointer;
}


.container .left-pannel i.fas.fa-gear:hover {
    background: #cdcdcd;
    background-size: cover;
}



.container .left-pannel i.fas.fa-bag-shopping {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    display: grid;
    place-items: center;
    margin: 0 5px;
    cursor: pointer;
}



.container .left-pannel i.fas.fa-tag {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    display: grid;
    place-items: center;
    margin: 0 5px;
    cursor: pointer;
}


.container .left-pannel i.fas.fa-car {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    display: grid;
    place-items: center;
    margin: 0 5px;
    cursor: pointer;
}


.container .left-pannel i.fas.fa-house {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    display: grid;
    place-items: center;
    margin: 0 5px;
    cursor: pointer;
}


.container .left-pannel i.fas.fa-t-shirt {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    display: grid;
    place-items: center;
    margin: 0 5px;
    cursor: pointer;
}


.container .left-pannel i.fas.fa-t-shirt {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    display: grid;
    place-items: center;
    margin: 0 5px;
    cursor: pointer;
}


.container .left-pannel i.fas.fa-mobile {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    display: grid;
    place-items: center;
    margin: 0 5px;
    cursor: pointer;
}



.container .left-pannel i.fas.fa-video-camera {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    display: grid;
    place-items: center;
    margin: 0 5px;
    cursor: pointer;
}


.container .left-pannel i.fas.fa-heart {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    display: grid;
    place-items: center;
    margin: 0 5px;
    cursor: pointer;
}


.container .left-pannel i.fas.fa-user-tag {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    display: grid;
    place-items: center;
    margin: 0 5px;
    cursor: pointer;
}


.container .left-pannel i.fas.fa-gavel {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    display: grid;
    place-items: center;
    margin: 0 5px;
    cursor: pointer;
}


.container .left-pannel i.fas.fa-pen {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    display: grid;
    place-items: center;
    margin: 0 5px;
    cursor: pointer;
}


.container .left-pannel i.fas.fa-home {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    display: grid;
    place-items: center;
    margin: 0 5px;
    cursor: pointer;
}



.container .left-pannel i.fas.fa-screwdriver-wrench {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    display: grid;
    place-items: center;
    margin: 0 5px;
    cursor: pointer;
}

.container .left-pannel i.fas.fa-home-lg {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    display: grid;
    place-items: center;
    margin: 0 5px;
    cursor: pointer;
}

.container .left-pannel i.fas.fa-guitar {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    display: grid;
    place-items: center;
    margin: 0 5px;
    cursor: pointer;
}

.container .left-pannel i.fas.fa-paw {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    display: grid;
    place-items: center;
    margin: 0 5px;
    cursor: pointer;
}

.container .left-pannel i.fas.fa-person-walking {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    display: grid;
    place-items: center;
    margin: 0 5px;
    cursor: pointer;
}

.container .left-pannel i.fas.fa-gamepad {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    display: grid;
    place-items: center;
    margin: 0 5px;
    cursor: pointer;
}



.container .left-pannel .top-left-pannel>form {
    display: flex;
}

.container .left-pannel .top-left-pannel>form>i.fas.fa-magnifying-glass {

    position: relative;
    left: 20px;
    bottom: -13px;
}


.container .left-pannel ul {
    padding: 10px 0px;
}

.container .left-pannel ul li {
    list-style: none;
    display: flex;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    border-radius: 10px;
}

.container .left-pannel ul li a.filter {
    color: #1876F2;
    text-decoration: none;
    font-weight: bold;

}

i.fas.fa-angle-right {
    position: relative;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;

    display: grid;
    place-items: center;
    left: 175px;
}


.container .left-pannel .fa-bell {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    display: grid;
    place-items: center;
    margin: 0 5px;
}

.container .left-pannel ul li>a.link {
    list-style: none;
    display: flex;
    padding: 0px;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.active2 {
    background: #ddd !important;
}


.container .left-pannel ul li:hover {
    background: #ddd;
}


.container .left-pannel ul li>p {
    margin-left: 10px;
}



img.shop {
    width: 39px;
}

img.save {
    width: 36px;
}

i.fas.fa-angle-down {
    background: #E4E6EB;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

i.angle-down1 {
    position: relative;
    left: 130px;
}

i.angle-down2 {
    position: relative;
    left: 118px;
}


i.angle-down3 {
    position: relative;
    left: 124px;
}

i.angle-down4 {
    position: relative;
    left: 142px;
}

i.angle-down5 {
    position: relative;
    left: 177px;
}

i.angle-down6 {
    position: relative;
    left: 86px;
}

i.angle-down7 {
    position: relative;
    left: 54px;
}

i.angle-down8 {
    position: relative;
    left: 67px;
}

.border-line {
    color: #B0B3B8;
    background-color: rgba(128, 128, 128, 0.4);
    height: 0.1rem;
    width: 93%;
    border: 1px solid;
    margin: 10px 0px 39px 13px;
}

.heading-shortcut {
    font-size: 17px;
    font-weight: 600;
    color: #000;
    margin-top: 16px;
    margin-left: 13px;
}

.shortcut3 {
    display: flex;
    justify-content: space-between;
}

.heading-shortcut3 {
    font-size: 17px;
    font-weight: 600;
    color: #000;
    margin-left: 13px;
    margin-top: 4px;
}

.see-all {
    color: #3B80DF;
    font-size: 14px;
    padding: 7px;
    cursor: pointer;
}

.see-all:hover {
    background: #cdcdcd;
    background-size: cover;
}

.active2 i.fas.fa-shop {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #1877F2;
    display: grid;
    place-items: center;
    margin: 0px -1px 0px 1px;
}


i.fas.fa-inbox {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    display: grid;
    place-items: center;
    margin: 0px -1px 0px 5px;
}


.container .left-pannel ul li i.fas.fa-users {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eee;
    display: grid;
    place-items: center;
    margin: 0px -1px 0px 1px;
}

.container .left-pannel ul li .tech-work {
    border-radius: 50%;
    width: 13%;
}


.container .left-pannel ul li .smash-code {
    width: 13%;
    border-radius: 50%;
}



.container .left-pannel ul li .hisham-sarwar {
    width: 11%;
    border-radius: 36%;
}

.container .left-pannel ul li .Netflix {
    width: 11%;
    border-radius: 36%;
}

.container .left-pannel ul li .digiskill {
    width: 11%;
    border-radius: 36%;
}


.container .left-pannel ul li .connected-pakistan {
    width: 34px;
    height: 22px;
    border-radius: 17%;
}

.container .left-pannel .footer-links {
    padding: 12px;
}

.container .left-pannel .footer-links>a {
    text-decoration: none;
    color: #75777B;
}

.container .left-pannel .footer-links>a:hover {
    text-decoration: underline;

}

.button {
    padding-left: 12px;
}

button {
    display: flex;
    background-color: #E7F3FF;
    height: 36px;
    width: 23vw;
    align-items: center;
    justify-content: center;
    color: #385898;
    cursor: pointer;
    border: solid 0px #E7F3FF;
    border-radius: 2px;
    padding-right: 12px;
}

button:hover {
    background-color: #ddd;
}

button:visited {
    background-color: #acd0f5;
}

i.fas.fa-plus {
    width: 2vw;
}


/* MIDDLE PANNEL*/

.container .middle-pannel {
    width: 80%;
    height: 100%;
    position: relative;
    left: 370px;
    top: 7px;
}



.container .middle-pannel .mid-pannel-container .middle-heading {
    display: flex;
}

.container .middle-pannel .middle-heading h4.heading-mid {
    font-size: 20px;
    position: relative;
    left: 6px;
    top: 18px;
}

a.location {
    text-decoration: none;
    position: relative;
    right: -790px;
    font-size: 15px;
    color: #1876F2;
}


a.location:hover {
    text-decoration: underline;
}


.product {
    width: 100%;
    height: 90%;
    padding-top: 30px;
}

.product-mainRow {
    display: flex;
    width: 100%;
    height: 385px;
    flex-wrap: wrap;
}

.product-mainRowItem {
    width: 28%;
    height: 100%;
    margin-left: 9px;
    border-radius: 10px;
    cursor: pointer;
}

.product-mainRowItem-Imgbox {
    width: 100%;
    height: 266px;
}

.product-mainRowItem-ImgboxImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.product-mainRowItem-price {
    font-size: 17px;
    font-weight: 600;
    color: #000;
    margin-top: 15px;
}

.product-mainRowItem-Details {
    font-size: 15px;
    margin-top: 6px;
    font-weight: 400;
    color: #000;
}

.product-mainRowItem-location {
    font-size: 13px;
    font-weight: 400;
    color: #65676B;
    margin-top: 6px;
}